*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Segoe UI,Arial;
background:#0b141a;
color:white;

}


.container{

max-width:1200px;
margin:auto;
padding:0 30px;

}


.navbar{

position:fixed;
top:0;
width:100%;
background:#0b141a;
border-bottom:1px solid rgba(255,255,255,0.05);
z-index:100;

}

.nav-wrapper{

display:flex;
align-items:center;
justify-content:space-between;
height:80px;

}

.logo{

font-size:20px;
font-weight:600;

}


.nav-links{

display:flex;
gap:30px;

}

.nav-links a{

color:#cbd5e1;
text-decoration:none;
font-size:15px;

}


.nav-buttons{

display:flex;
gap:15px;

}

.btn{

padding:10px 22px;
border-radius:40px;
text-decoration:none;
font-weight:600;

}


.login{

border:1px solid white;

}


.download{

background:#25D366;
color:black;

}



.hero{

min-height:100vh;
display:flex;
align-items:center;
padding-top:100px;

}



.hero-container{

display:flex;
align-items:center;
justify-content:space-between;
gap:80px;

flex-wrap:wrap;

}


.hero-text{

max-width:520px;

}

.hero-text h1{

font-size:6rem;
line-height:1;
font-weight:600;

}


.green{

color:#25D366;

}

.hero-text p{

margin-top:25px;
font-size:18px;
color:#aebac1;

}


.cta{

display:inline-block;
margin-top:35px;

background:#25D366;
color:black;

padding:16px 40px;
border-radius:40px;
text-decoration:none;
font-weight:bold;

}


.hero-image{

max-width:420px;

}


.phone{

position:relative;

border-radius:40px;
overflow:hidden;

box-shadow:0 40px 100px rgba(0,0,0,0.9);

}

.phone img{

width:100%;
display:block;

}


.overlay{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

font-size:42px;

color:#25D366;
font-weight:bold;

opacity:0.8;

}



@media(max-width:900px){

.hero-text h1{

font-size:3.5rem;

}

.hero-container{

flex-direction:column;

}

}
